.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

h2{
  font-family: "Edwardian Script ITC";
  font-size: 40px;

}

button{
  margin-right: 1rem;
}

h1 {
  text-align: center;
}

.mat-card-content {
  text-align: justify;
  padding: 15px;
}

.mat-card-title {

}

/*table {*/

/*    width: 100%;*/
/*    font-family: "Britannic Bold";*/
/*    text-align: justify;*/

/*}*/

/*.table {*/
/*  width: 80%;*/
/*  margin: 0 auto;*/
/*}*/

/*h3 {*/
/*  text-align: center;*/
/*}*/

/*.mat-column-postBody {*/
/*  word-wrap: break-word !important;*/
/*  !*flex: 0 0 85% !important;*!*/
/*  overflow-wrap: break-word;*/
/*  padding: 30px;*/

/*}*/

/*.mat-column-postTitle {*/
/*  word-wrap: break-word !important;*/
/*  !*flex: 0 0 10% !important;*!*/
/*  overflow-wrap: break-word;*/
/*}*/
