.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

h2{
  font-family: "Edwardian Script ITC";
  font-size: 40px;

}

button{
  margin-right: 1rem;
}

table {

    width: 100%;
}

.table {
  width: 80%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}
