<mat-toolbar color="primary">
  <h2>Eigner Musings</h2>
<!--  this fills the remaining space of the current row -->
  <span class="fill-space"></span>
  <button mat-raised-button (click)="openLogin()" color="secondary">Login</button>
  <button mat-raised-button (click)="openRegister()" color="secondary">Register</button>
</mat-toolbar>

<div class="table" *ngIf="posts">
  <h3 matColumnDef="title">Blog Posts</h3>
  <table mat-table [dataSource]="posts">
  <ng-container matColumnDef="postTitle">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let post"> {{post.postTitle}}</td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsPost"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPost;"></tr>
  </table>
</div>
